* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.allpage {
    height: 100%;
    width: 100%; 
    background-image: url(https://images2.alphacoders.com/261/thumb-1920-26102.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
}
.pageheading{
    font-size: 25px;
    font-display: ;
    text-align: center;
    margin: 50px auto;
    width: 85%;
    padding: 30px 30px;
    display: block;
    background: rgba(255, 255, 255, .75);
    border: 0;
    outline: none;
    border-radius: 15px;
}
h1{
    color: rgb(117, 35, 2);
}
.form-box {
    width: 360px;
    height: 620px;
    position: relative;
    margin: auto;
    background: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    overflow: hidden;
}
.login-form-box {
    width: 360px;
    height: 420px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.boxheader{
    text-align: center;
    margin-top: 30px;

}
.input-group{
    top: 100px;
    left: 30px;
    position: absolute;
    width: 288px;
    transition: .5s;
}
.form-group{
    margin-top:0px;
    margin-bottom: 15px;
}

.input-field{
    width: 100%;
    padding: 10px 0 10px 5px;
    margin: 5px 0;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.tologin{
    text-align: center;
    margin-top: 520px;
}
.tosignup{
    text-align: center;
    margin-top: 280px;
}

