<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <title>Library Catalog</title>
  </head>
  <body>
    <header>
      <h1>The Book Arc</h1>
    </header>
    <main>
      <section class="books">
        <div class="action-buttons-container">
          <div class="lend-book-container">
            <a href="/lend_book" class="btn lend-book-btn">Lend Book</a>
          </div>
          <div class="add-book-container">
            <a href="/add_book" class="btn add-book-btn">Add Book</a>
          </div>
        </div>
        <div class="books_box">
          <h1>Books Catalog</h1>
          <table class="books_table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Availability</th>
                <th>Rating</th>
                <th>User</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for book in books %}
              <tr>
                <td>{{ book[1] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[0] }}</td>
                <td>{{ "Available" if book[3] == 1 else "Not Available" }}</td>
                <td>{{ book[4] }}</td>
                <td>{{ book[5] if book[5] != Null else "None" }}</td>
                <td>
                  <form
                    action="/delete_book"
                    method="POST"
                    style="display: inline"
                  >
                    <input type="hidden" name="isbn" value="{{ book[0] }}" />
                    <button type="submit" class="btn delete-btn">Delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
