<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Book Ark</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
</head>
<body>
    <div class="allpage">
      <div class="pageheading">
        <h1>Welcome to BookArc</h1>
      </div>

        <div class="login-form-box">

            <div class="box">

                <h2 class="boxheader">Log In</h2>

            </div>
            <!-- LogIn Form -->
            <form class="input-group" method="post" action="/">
              <div class="form-group">
                <label for="email">Email:</label>
                <input
                  type="email"
                  id="email"
                  class="input-field"
                  name="email"
                  placeholder="Enter your email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input
                  type="password"
                  id="password"
                  class="input-field"
                  name="password"
                  placeholder="Enter your password"
                  required
                />
              </div>
              <button type="submit" class="submit-btn">Log In</button>
            </form>
            <div class="tosignup">
            <p class="text-center">Don't have an account? <a href="/signup">Sign Up</a></p>
            </div>
            
            </div>
        </div>
    </div>

    <script>
        var x = document.getElementById("signup");
        var y = document.getElementById("login");
        var z = document.getElementById("button-color");

        function login() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }

        function signup() {
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0px";
        }
    </script>
</body>
</html>
