<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Book Ark</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
</head>
<body>
    <div class="allpage">
      <div class="pageheading">
        <h1>Welcome to BookArc</h1>
      </div>

        <div class="form-box">

            <div class="box">

                <h2 class="boxheader">Sign Up</h2>

            </div>
            <!-- Signup Form -->
            <form class="input-group" method="post" action="/signup">
              <div class="form-group">
                <label for="first_name">First Name:</label>
                <input
                  type="text"
                  id="first_name"
                  class="input-field"
                  name="first_name"
                  placeholder="Enter your first name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input
                  type="text"
                  id="last_name"
                  class="input-field"
                  name="last_name"
                  placeholder="Enter your last name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input
                  type="email"
                  id="email"
                  class="input-field"
                  name="email"
                  placeholder="Enter your email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input
                  type="password"
                  id="password"
                  class="input-field"
                  name="password"
                  placeholder="Enter your password"
                  required
                />
              </div>
              <div class="form-group">
                <label for="confirm_password">Confirm Password:</label>
                <input
                  type="password"
                  id="confirm_password"
                  class="input-field"
                  name="confirm_password"
                  placeholder="Confirm your password"
                  required
                />
              </div>
              <button type="submit" class="submit-btn">Sign Up</button>   
            </form>

            <div class="tologin">
            <p class="text-center">Already have an account? <a href="/">Log In</a></p>
            </div>
        </div>
    </div>

    <script>
        var x = document.getElementById("signup");
        var y = document.getElementById("login");
        var z = document.getElementById("button-color");

        function login() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }

        function signup() {
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0px";
        }
    </script>
</body>
</html>
