{% extends 'base.html' %}
{% block content %}
<div class="row g-4">
  {% for book in books %}
  <div class="col-md-4">
    <div class="card h-100">
      <img src="{{ book.cover.url }}" class="card-img-top" alt="{{ book.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ book.name }}</h5>
        <p class="card-text">
          <strong>Author:</strong> {{ book.author }}<br>
          <strong>Genre:</strong> {{ book.get_genre_display }}<br>
          <strong>Released:</strong> {{ book.release_date }}<br>
          <strong>Rating:</strong> {{ book.rating }}
        </p>
        {% if user.is_authenticated %}
          <a href="#" class="btn btn-primary">Book Now</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% empty %}
    <p>No books found.</p>
  {% endfor %}
</div>
{% endblock %}
